@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin centerVertical {
  display: flex;
  align-items: center;
}
@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@mixin niceScrollbar() {
  &::-webkit-scrollbar { width: 15px; }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(127, 151, 127);
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
  }
}