@import './mixins';

div.MainPage {
  .newMessage {
    background-color: rgb(35, 35, 50);
    width: 100%;
    @include centerVertical();
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 10px;
    height: 60px;
    >.Button {
      flex-shrink: 0;
      margin-left: 10px;
    }
    h2 {
      margin: 0;
    }
    input {
      margin: 10px 0;
      width: 100%;
    }
  }

  .receivedMessages {
    height: calc(100vh - 100px);
    overflow-y: auto;
    padding: 10px 10px 0 10px;

    display: flex;
    flex-direction: column;

    .systemMessage {
      align-self: center;
      color: rgb(106, 180, 128);
    }

    .message {
      &.self {
        align-self: flex-end;
        text-align: right;
      }
      margin-bottom: 10px;
      p { margin: 0; }
      .info {
        display: flex;
        .name {
          font-weight: bold;
          margin-right: 5px;
        }
        .time {
          color: rgb(106, 180, 128);
        }
      }
    }
  }
}